:root{
    --primary-color:#ffa429;
    --dark-primary-color:#f89513;

    --secondary-color:#1be2aa;
    --dark-secondary-color:#24d4a2;

    --grey-light:rgba(0,0,0,0.4);
    --grey-light-1:rgba(0,0,0,0.2);
    
    --grey-dark:rgba(0,0,0,0.6);
    --grey-dark-1:rgba(0,0,0,0.4);
    --grey-dark-2:rgba(0,0,0,0.8);
    --grey-dark-3:rgba(0,0,0,0.5);


    --light-white:rgba(255,255,255,0.4)
}

*,*::after,*::before{
    margin: 0;padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 75%; /*1 rem = 14px; 14px/16px = 87.5%*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------- reusable css ----------*/

.icon{
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
}
.icon-2{
    width: 1.5rem;
    height: 1.5rem;
    fill: black;
}

/*---------- button css ----------*/

.btn:link,
.btn:visited{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 8px 26px;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}
.btn-transparent{
    background-color: rgba(0,0,0,0.4);
}
.btn-transparent:hover{
    background-color: rgba(0,0,0,0.5);
}
.btn:hover,
.btn:active{
    box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
}

.btn-primary:link,
.btn-primary:visited{
    padding: 8px 30px !important;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}
.btn-primary:hover,.btn-primary:active{
    background-color: var(--dark-primary-color);
}
.btn-secondary:link,
.btn-secondary:visited{
    background-color: var(--secondary-color);
}
.btn-secondary:hover,
.btn-secondary:active{
    background-color: var(--dark-secondary-color);
}

/*-------------------- Header css --------------------*/

.header{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/background.jpg);
    padding: 2% 5%; 
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 29rem;

    position: relative;
}

.header__top{
    display: flex;
    justify-content: space-between;
}
/*---------- header--left css ----------*/
.company-logo{
    display: flex;
    align-self: center;
}
.company-name{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    margin-left: 0.8rem;
}

/*---------- header--right css ----------*/
.header__right{
    display: flex;
    align-items: center;
}
.header__right >*:not(:last-child){
    margin-right: 40px;
}
.header__right .btn{
    display: flex;
    align-items: center;
    align-self: center;
}

.notification{
    position: relative;
    cursor: pointer;
}
.notification-dot{
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50px;

    position: absolute;
    top: 2px;
    right: 2px;
}

.profile-pic--small{
    width: 3.58rem;
    height: 3.58rem;
    overflow: hidden;
    border-radius: 4px;
}
.small-profile{
    width: 100%;
    height: auto;
}

/*---------- Header--bottom ----------*/
.header__bottom{
    margin-top: 5rem;

    display: flex;
    justify-content: space-between;
}

.profile-pic--big{
    width: 21.43rem;
    height: 21.43rem;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: -53px;

}
.big-profile{
    width: 100%;
}

.profile__detail{
    display: flex;
    flex-grow: 1;
    align-self: start;
    flex-direction: column;
    margin-left: 2.5rem;
}
.profile__detail h2{
    color: white;
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.profile__detail--list{
    list-style: none;
}
.profile__detail--info-list{
    line-height: 2;
    font-size: 1.2rem;
    font-weight: 300;
}
.info-label{
    color:var(--light-white) ;
}
.info-detail{
    color: white;
}

.profile__completion{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 25rem;
    padding: 38px 28px;
    background-color: rgba(255, 255, 225, 0.4);
    border-radius: 4px;
}

.percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-size: 2.14rem;
    position: relative;
} 

/* ----percent-circle---- */
.percent{
    position: relative;
    width: 120px;
    height: 120px;
}

.percent svg{
  position: relative;
  width: 150px;
  height: 150px;
}

.percent svg circle{
  fill: none;
  stroke-width:7;
  stroke: yellow;
  transform: translate(5px,5px);
  width: 150px;
  height: 150px;

  stroke-dasharray: 360;
  stroke-dashoffset: 360;
}

.percent svg circle:nth-child(1){
  stroke-dashoffset:0;
  stroke: #BDBDBD;
}
.percent svg circle:nth-child(2){
  stroke-dashoffset: calc(360 - ( 360 * 75) / 100);
  stroke: var(--primary-color);
}
.percent .number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.percent .number h2{
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}
.number:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
/* -------- */


.profile__completion--text{
    padding-left: 1rem;
    width: 60%;
}
.profile__completion--text .btn-primary{
    display: flex;
    align-self: baseline;
}
.profile__completion--text h3{
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
    line-height: 1.4;
}

.profile__completion--text h4{
    font-size: 1rem;
    font-weight: 300;
    color: var(--light-white);
    margin-bottom: 1.2rem;
}

/* Main-Content */
.main-content{
    display: flex;
}

/*-------------------- About Section css --------------------*/

.about-section{
    width: 20%;
    margin-left: 5%;
    border-right: 2px solid #BDBDBD;
    padding: 5.72rem 2rem 0 0;
}
.about-heading{
    border-bottom: 2px solid #BDBDBD;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-heading h2{
    font-weight: 500;
    text-transform: uppercase;
}
.dots{
    display: flex;
}
.dots span{
    cursor: pointer;
    margin: 0 2px;
    display: block;
    background-color: #BDBDBD;
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 100px;
}
.persons{
    margin: 2.3rem 0;
}
.persons-heading{
    margin-bottom: 1.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--grey-dark);
    text-transform: uppercase;
}
.family-images{
    display: flex;
}

.persons-img{
    position: relative;
    width: 4.64rem;
    height: 4.64rem;
    overflow: hidden;
    border-radius: 50%;
}
.person-cover{
    width: 100%;
    height: auto;
}
.family-images >*:not(:last-child){
    margin-right:1.5rem;
}


.information{
    margin: 1.6rem 0;
    font-size: 1.3rem;
}
.information-label{
    color: var(--grey-dark);
    text-transform: uppercase;
    line-height: 1.8;
    font-size: inherit;
}
.information-detail{
    font-weight: 500;
}


/* dashbord section */
.dashbord-section{
    width: 80%;
}

/*-------------------- Navigation css --------------------*/

.navigation{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #BDBDBD;
    padding-right: 6.5%;
    
}

.navigation-nav{
    padding: 0 1.42rem;
    list-style: none;
}

.nav-item{
    display: inline-block;
    padding: 1.43rem 0;
}
.nav-item:not(:last-child){
    margin-right: 50px;
}
.nav-item .icon-2{
    margin-right: 0.2rem;
}

.nav-link:link,
.nav-link:visited{
    text-decoration: none;
    color: var(--grey-light);
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 1.59rem;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
}

.active-link{
    color: black !important;
    font-weight:400 !important;
    border-bottom: 3px solid var(--primary-color) !important;
}
.nav-link:active,
.nav-link:hover{
    color: black;
    font-weight: 400;
    border-bottom: 3px solid var(--primary-color);
}

.navigation .btn-secondary{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;

    padding: 4px 14px !important;
}
.btn-secondary svg{
    margin-right: 0.5rem;
}


/*-------------------- Claims Section css --------------------*/

.claims-section{
    padding-top: 2rem;
    padding-right: 5.4%;
    background-color: #f7f7f7;
}

.grid-container{
    padding: 1.4rem;

    display: grid;
    grid-template-rows: repeat(2,min-content);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

/*-------------------- Claims Card css --------------------*/
.claims-number{
    background-color: white;
    width: 100%;
    height: 11rem;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.claims-number:hover{
    box-shadow: 0 2px 16px rgba(0,0,0,0.3);
}

.claims-card{
    display: flex;
    padding: 1rem 1.5rem;
    position: relative;
}

.claims-count{
    height: 7rem;
    padding-right: 2rem;
    color: var(--grey-dark-1);
    border-right: 2px solid #BDBDBD;
    font-weight: 400;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.claims-people{
    margin-left: 1.5rem;
}

.claims-title{
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--grey-dark-1);
    padding-bottom: 1rem;
}

.claims-img-div{
    position: relative;
    display: inline-block;
}

.claim-profile-pic{
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: -1.5rem;
}

.claim-profile-pic img{
    width: 100%;
    height: auto;
}

.claims-profile-number{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    background-color: rgba(27, 226, 170, 0.6);
    text-align: center;
    color: white;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: -1.5rem;
}

.claims-members-list{
    grid-column: 1/3;
    padding-bottom: 3rem;
}

/*-------------------- Claims Members Card css --------------------*/

.members{
    height: 50rem;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.member-card:hover{
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}

.members::-webkit-scrollbar {
    display: none;
}

.members > *:not(:last-child){
    margin-bottom: 1.8rem;
}

.member-card{
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    display: flex;
}

.member-img{
    position: relative;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 10px;
}

.member-profile{
    width: 100%;
    height: auto;
}

.member-detail{
    flex-grow: 1;
    margin-left: 1.5rem;
}

.member-name{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.member-dates{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.member-dates svg{
    fill: var(--grey-light-1);
}

.member-dates svg{
    margin-right: 1.5rem;
}

.time-name{
    font-weight: 600;
    color: var(--grey-dark-3);
    text-transform: capitalize;
}

.member-dates:not(:last-child){
    margin-bottom: 1rem;
}

.time-duration{
    font-weight: 400;
    color: var(--grey-dark-3);
    text-transform: capitalize;
}

.pay-btn{
    align-self: flex-end;
}

.pay-btn .btn{
    padding: 4px 24px !important;
    display: flex;
    align-items: center;
}

.pay-btn .icon{
    margin-right: 0.5rem;
}


/*--------------------Activity css --------------------*/

.activity{
    background-color: white;
    height: 49.5rem;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);

    overflow:scroll;
    overflow-x: hidden;
}

.activity::-webkit-scrollbar{
    width: 6px;
}
.activity::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); 
    border-radius: 10px;
}

.activity-heading{
    font-weight: 400;
    color: var(--grey-dark-2);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #BDBDBD;
    padding-bottom: 1rem;
}

.activity-ul{
    position: relative;
    padding: 2rem;
    margin: 0;
    list-style: none;

}

.activity-li{
    position: relative;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}
.activity-li::before{
    position: absolute;
    bottom: -2rem;
    left: -1rem;
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}

.activity h4{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
}
.activity h4::after{
    
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 200px;
    position: absolute;
    top: 0.5rem;
    left: -1.7rem;
}

.activity-h4-1::after{
    background-color: rgba(100, 226, 27, 0.1);
}
.activity-h4-1::before{
    background-color: rgba(100, 226, 27, 0.6);
}

.activity-h4-2::after{
    background-color: rgba(27, 226, 170, 0.1);
}
.activity-h4-2::before{
    background-color: rgba(27, 226, 170, 0.6);
}

.activity-h4-3::after{
    background-color: rgba(226, 27, 27, 0.1);
}
.activity-h4-3::before{
    background-color: rgba(226, 27, 27, 0.6);
}

.activity-h4-4::after{
    background-color: rgba(27, 120, 226, 0.1);
}
.activity-h4-4::before{
    background-color: rgba(27, 120, 226, 0.6);
}

.activity-h4-5::after{
    background-color: rgba(209, 27, 226, 0.1);
}
.activity-h4-5::before{
    background-color: rgba(209, 27, 226, 0.6);
}

.activity h4::before{
    content: '';
    display: block;
    width: 12px;
    z-index: 1000;
    height: 12px;
    border-radius: 200px;
    position: absolute;
    top: 0.85rem;
    left: -1.35rem;
}
.activity-address{
    margin: 0.4rem 0;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--grey-light);
    
}
.activity-time{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--grey-light-1);
    line-height: 1.2;
}